.tab1{
    --color-selected: #ffc409;
    // --tab-text-color-active: #ffc409;
    --tab-icon-color-active: #ffc409;
}

.tab2{
    --color-selected: #73ff66;
}

.tab3{
    --color-selected: #eb7413;
}

.tab4{
    --color-selected: #f0a3ff;
}