.col-name{
    color: #ffc409;
}
.badge{
    position: absolute;
    right: 0;
    top:0;
    width: 40px;
    font-size: 64px;
}
.text{
    position: absolute;
    top: 23px;
    right: 15px;
    font-size: medium;
    font-weight: bold;
    color: darken($color: #000000, $amount: 0);
}