<ion-tabs>
  <ion-tab-bar slot="bottom"> 

    <ion-tab-button tab="adtab1" class="tab-color">
      <ion-icon name="restaurant" ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="adtab5" class="tab-color">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="adtab2" class="tab-color">
      <ion-icon name="gift"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="adtab3" class="tab-color">
      <ion-icon name="people-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="adtab4" class="tab-color">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="adtab6" class="tab-color">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>