ion-icon{
    size: 100px;
}
.reserv-button-color{
    color: #2dd36f;
    --border-color: #2dd36f;
}
.reserv-button-color1{
    color: #eb445a;
    --border-color: #eb445a;
}
.icon-I{
    color: rgb(255, 166, 82);
}