.pay-button-color{
    color: rgb(255, 154, 38);
    --border-color: rgb(255, 154, 38);
}
.showODT-button-color{
    color: rgb(180, 255, 82);
    --border-color: rgb(180, 255, 82);
}
.pagebutton{
    color: #ffa54b;
    --border-color: #ffa54b;
}