.segment-button {
    color: #ffa54b;
}
.header{
    background-color: #81ffe0;
}
.eiei{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50%;
    text-align: center;
}
.icon-color1{
    color: #ff9d2c;
}
.icon-color2{
    color: #ffe15c;
}
.showODT-button-color{
    color: rgb(180, 255, 82);
    --border-color: rgb(180, 255, 82);
}