<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="pizza" (click)="back()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>test-pdf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="full-width">
    <ion-button expand="block" shape="round" fill="outline" class="button-color" (click)="createPdf(viewbill)">
      <ion-icon name="print-outline"></ion-icon>
    </ion-button>
  </section>

</ion-content>
